<nav class="navbar">
  <div class="navbar__container">
    <a routerLink="/" class="navbar__brand" (click)="closeMenu()">
      <svg class="navbar__star-icon" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 2L15.09 10.26H24L17.55 15.74L20.64 24L12 18.52L3.36 24L6.45 15.74L0 10.26H8.91L12 2Z"/>
      </svg>
      <span class="navbar__text">STAR<span class="navbar__accent">FIT</span></span>
    </a>

    <button class="navbar__toggle" (click)="toggleMenu()" aria-label="Abrir menú">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <ul class="navbar__links" [class.is-open]="isMenuOpen">
      <li *ngIf="!isLoggedIn()">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">Inicio</a>
      </li>

      <ng-container *ngIf="!isLoggedIn()">
        <li>
          <a routerLink="/login" routerLinkActive="active" (click)="closeMenu()">Iniciar sesión</a>
        </li>
        <li>
          <a routerLink="/register" routerLinkActive="active" class="navbar__cta" (click)="closeMenu()">Registrarse</a>
        </li>
      </ng-container>

      <ng-container *ngIf="isLoggedIn()">
        <li>
          <a routerLink="/dashboard" routerLinkActive="active" (click)="closeMenu()">Mi Dashboard</a>
        </li>
        <li>
          <a routerLink="/ecosistema" routerLinkActive="active" (click)="closeMenu()">Ecosistema</a>
        </li>
        <li>
          <a routerLink="/products" routerLinkActive="active" (click)="closeMenu()">Productos</a>
        </li>
        <li>
          <a routerLink="/wishlist" routerLinkActive="active" (click)="closeMenu()">Mi lista</a>
        </li>
        <li>
          <button type="button" class="navbar__logout" (click)="logout()">Cerrar sesión</button>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>